:root {
    --pimary-text-color: #2c2c2c;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--pimary-text-color);
}

h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}



/*ЗАГОЛОВОК СЕКЦІЇ*/
.favorites__title {
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    color: var(--pimary-text-color);
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
          
                font-size: 42px;
                line-height: 1.16;
            
        }
}


/*ТЕКСТ СЕКЦІЇ*/
.favorites__text {
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    color: var(--pimary-text-color);
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
   
                font-size: 16px;
                line-height: 1.16;
            
        }
}


/*СПИСОК СЕКЦІЇ*/
.favorites__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
          
                /*display: flex;*/
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 32px;
               /* flex-basis: calc((100% - 32px) / 2);*/
            
        }
}



/*ЕЛЕМЕНТ СПИСКА*/
.favorites__item {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.favorites__item:nth-child(n + 4) {
    display: none;

    @media screen and (min-width: 768px) {
      
                display: flex;
            
        }
}


/*.favorites__item:nth-child(n + 4) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

/*ОБГОРТКА КАРТИНКИ (ЖОВТИЙ КРУЖОК)*/
.favorites__wrapper {
    cursor: pointer;
    padding-top: 18px;
    padding-right: 17px;
    padding-bottom: 18px;
    padding-left: 17px;
    border: 11px solid #ffe550;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .favorites__wrapper {
        border: 14px solid #ffe550;
        padding: 21px 20px;
    }
}

@media screen and (min-width: 1280px) {
    .favorites__wrapper {
        border: 16px solid #ffe550;
        padding: 25px 24px;
    }
}

.favorites__wrapper:hover {
    border-color: #bbf330;
}