<section class="section offerings">
  <div>
    <div>
      <img src="./images/Apple.png" alt="f" />
    </div>
    <h1>What’s Special About Our Offerings</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>

   <ul>
    <li> 
        <a href="./images/logo.png" class="">
        <svg
          class=""
          width="32"
          height="32"
        >
          <use href=""></use>
        </svg>
        </a>

        <h2>Fasest Delivery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
    <li>
        <a href="./images/logo.png" class="">
            <!-- <svg
              class=""
              width="32"
              height="32"
            >
              <use href=""></use>
            </svg> -->
            </a>
            <h2>Easy to order</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
    </li>
   </ul>

      <button class="" type="button">Order Now</button>

      <button class="" type="button">Read More
        <!-- <svg class="" width="14" height="14">
          <use href=""></use>
        </svg> -->
      </button>
    
  </div>
</section>


<section class="section offerings">
    <div>
      <div>
        <img src="./images/Apple.png" alt="f" />
      </div>
      <h1>What’s Special About Our Offerings</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
  
     <ul>
      <li> 
          <a href="./images/logo.png" class="">
          <svg
            class=""
            width="32"
            height="32"
          >
            <use href=""></use>
          </svg>
          </a>
  
          <h2>Fasest Delivery</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
      <li>
          <a href="./images/logo.png" class="">
              <!-- <svg
                class=""
                width="32"
                height="32"
              >
                <use href=""></use>
              </svg> -->
              </a>
              <h2>Easy to order</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
     </ul>
  
        <button class="" type="button">Order Now</button>
  
        <button class="" type="button">Read More
          <!-- <svg class="" width="14" height="14">
            <use href=""></use>
          </svg> -->
        </button>
      
    </div>
  </section>
  

